@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Open+Sans+Condensed:wght@300&family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Open+Sans+Condensed:wght@300&family=Raleway:ital,wght@0,100;1,400&display=swap');
p {
    color: #ababab;
}

header {
    background-image: url(assets/img/header_bg.jpg);
    margin: 0;
    padding: 0;
    border-bottom: outset;
}

header img {
    text-align: center;
    display: block;
    size: x-small;
    max-width: 40%;
    max-height: 60%;
    width: 15%;
    height: 60%;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

header>div#en-tête>div.indexhtml1 {
    text-align: left;
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 10%;
}

header>div#en-tête>div.indexhtml2 {
    text-align: right;
    color: #3d9f96;
    margin-left: 30%;
    margin-right: 10%;
}

header>div#en-tête>div.text {
    text-align: center;
    color: #FFFFFF;
}

input {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #3d9f96;
    border-radius: 30px;
    border-color: #3d9f96;
}

div.bouton {
    text-align: center;
}

header>div#en-tête>div.photo {
    width: 100%;
    height: 100%;
    display: block;
    margin-left: 2%;
    margin-right: auto;
    margin-bottom: 0;
}

main>div#socialmedia {
    background-color: #ababab;
    height: 150px;
}

main>div#socialmedia>figure {
    display: inline;
    justify-content: center;
    margin-left: 6%;
    margin-right: 2%;
    padding: 0;
}

main>div#socialmedia>h5 {
    text-align: center;
    color: #3d9f96;
}

h2 {
    font-family: 'Raleway';
    text-align: center;
}

main>div#check>p {
    text-align: center;
}

main>div#Awesomeness>table {
    background-image: url(assets/img/map_bg.png);
    text-align: center;
    margin: auto;
}

main>div#Awesomeness>table>td>figure {
    background-image: url(assets/img/image_190px_1.png);
    background-size: auto;
}


/*back-ground play a mettre*/

main>div#johndo {
    background-image: url(assets/img/seperator1-.jpg);
    height: 250px;
    margin: auto;
    text-align: center;
    color: #FFFFFF;
}

main>div#johndo>figure {
    opacity: 100%;
}

main>div#screenshots {
    background-color: #ababab;
}

h6 {
    color: #3d9f96;
}

main>div#screenshots>figure {
    display: inline-block;
    margin-left: 12%;
}


/*aligner texte image*/

main>div#test {
    display: inline-block;
}

main>div#test>figure {
    background-image: url(assets/img/image_300px_1.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 200px;
    float: left;
    padding-top: 50px;
    padding-right: 50px;
    margin-left: 400px;
}

main>div#test>h3 {
    float: right;
    text-align: center;
    font-family: 'raleway';
    margin-top: 0;
    padding: 0;
}

main>div#test>p {
    text-align: center;
    margin: 0;
    padding: 0;
}

main>div#Responsive {
    display: inline-block;
}

main>div#Responsive>h3 {
    float: left;
    text-align: center;
    font-family: 'raleway';
    margin-top: 0;
    padding: 0;
    margin-left: 400px;
}

main>div#Responsive>p {
    text-align: left;
    margin-left: 400px;
    margin-top: 1%;
    padding: -10px;
    margin-top: 0%;
    letter-spacing: 0;
}

main>div#Responsive>figure {
    width: 200px;
    height: 300px;
    float: right;
    margin-top: -70%;
    margin-right: -40%;
    margin-left: 80%;
}

main>div#Responsive>input {
    margin-left: 400px;
}

main>div#contact {
    background-color: whitesmoke;
    margin-top: 5%;
    color: black;
}

#contact {
    column-gap: 30%;
}

footer {
    display: inline-flex;
}

footer>p {
    text-align: left;
}

footer>figure {
    text-align: right;
}

@media screen and(max-width: 730px) {
    main>div#Awesomeness>table {
        display: none;
    }
    main>div#screenshots>figure {
        display: none;
    }
    main>div#test {
        display: none;
    }
    main>div#contact {
        display: none;
    }
}